* {
  box-sizing: border-box;
  margin: none;
}
.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 35%;
  border: none;
  border-radius: 1rem;
  padding: 10px;
}

.search-button {
  background: coral;
  border: none;
  border-radius: 1rem;
  padding: 10px;
  color: cornsilk;
  margin: 1rem;
}

.search-bar:focus,
.search-button:focus {
  border: none;
  outline: none;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
